.custom_footer_logo {
    width: 200px;
}

li.mail a:hover {
    color: var(--red-dark-clr);
}

.footer_contact_button{
    color: white !important;
}

@media(max-width: 414px){
    .cstm_main_footer_mob{
      text-align: center;
    }

    .cstm_site_info_logo_area_414px{
        padding-right: 10px !important;
    }
  
    .cstm_social_icons_414px{
        justify-content: center;
    }

    .footer_contact_button{
        color: white !important;
    }

    .footer_bottom .footer_bottom_list .footer_nav li{
        margin: auto;
    }
    
    .footer_bottom .footer_bottom_list .footer_nav{
        flex-direction: column;
    }

    .footer_bottom .footer_bottom_list .footer_nav li:first-child{
        margin: auto !important;
    }
  }