.section_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-image {
    width: 450px;
    height: 550px;
    border-radius: 40%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media(max-width: 991px) {
    .profile-image {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
}

@media(max-width: 414px) {
    .cstm_content_das_mob {
        text-align: center;
    }
    
    .profile-image {
        width: 250px;
        height: 250px;
    }
}